/* class = . id = # */

* {
  background-color: #bcf5c9;
  /* border-box = padding 추가해도 box 크기는 커지지않음 */
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  padding-top: 50px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: auto;
}

#input-box {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
  font-size: large;
}

#input-button {
  width: 40px;
  height: 45px;
  background-color: #75f062;
  color: white;
  font-size: 1.8em;
}

#input-button:hover {
  background-color: #62f0e3;
}

.to-do-list {
  box-sizing: border-box;
  background-color: white;
  /* solid white = 테두리 10px로 하얗게 */
  border: 10px solid white;
  /* radius=20% = 테두리 살짝 둥글게 */
  border-radius: 15%;
  width: 500px;
  height: 100%;
  /* 0 auto = 가운데 정렬 */
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 40px;
  padding-bottom: 40px;
}

li {
  background-color: white;
  margin-top: 10%;
  /* none = 리스트 점박힌거 삭제해줌 */
  list-style: none;
  justify-content: space-between;
  display: flex;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 20%;
}

li > span {
  background-color: white;
  font-size: 1.5em;
}

li > img {
  background-color: white;
}
